{% extends 'base.html' %}

{% block content %}
<div class="container col-sm-6 mb-3 mb-sm-0">
    {% if pokemon %}
    <div class="card mb-3" style="width: 18rem;">
        <img src="{{ pokemon.sprite }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">base experience: {{  pokemon.base_experience }}</li>
                  <li class="list-group-item">ability name: {{ pokemon.ability_name }}</li>
                  <li class="list-group-item">attack: {{ pokemon.attack }}</li>
                  <li class="list-group-item">hp: {{ pokemon.hp }}</li>
                  <li class="list-group-item">defense: {{ pokemon.defense }}</li>
                </ul>
                <div class="card-footer">
                    <a href="/catch/{{ pokemon.name }}" class="btn btn-warning">Catch</a>
                </div>
            </div>
        </div>
      {% endif %} 
    </div> 
</div>
{% endblock %}